@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IndustryTest';
  src: url('/IndustryTest-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #28B9DF;
    --color-background: #0E0E0E;
    --color-white: #FFFFFF;
    --color-black: #000000;
  }
}

body {
  font-family: 'IndustryTest', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}